# Python
__pycache__/
*.py[cod]
*.class
venv/
.venv/
.env

# Node.js
node_modules/
.next/
out/
build/

# Data (please download manually from https://drive.google.com/drive/folders/14jOhTDdqM-RTZ_LnWHunLiAWLhpMRef3?usp=share_link)
data/
checkpoints/
log_tensorboard/
logs/

# Zip data to avoid wrong uploads
*.zip

# OS
.DS_Store
